/*Motion Background*/
video {
	
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100
}


/*Navigation Bar*/
nav {
	
	color: #996633;
	font-family: 'Redressed', cursive;
	display: flex;
	letter-spacing: 2px;
	background: white;
	opacity: 0.8; 
} 

h2 {
	margin-right: 150px;
}


/*Logo*/
.fa-cutlery {
    
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #33cc33;
    -webkit-box-shadow: 0px 0px 2px #33cc33;
    box-shadow: 0px 0px 2px #33cc33;
}

.fa {

	color: #33cc33;
	margin-top: 5px; 
}


#main-screen {

	text-align: center;
	font-size: 20px; 
	color: white;  
	width: 100%; 
	margin: 80px;
	margin-top: 40px;
	opacity: 0.8; 
}


 #quote {
	
	margin-bottom: 50px;
	
}

#ingred-search {
	margin: auto;


}

.card-deck {

	margin-bottom: 50px;
	height: 40%;
	

}

.card-img-top {

	height: 20rem;

}


#recipe, #media {
	margin-top: 30px;
	color: brown;
	margin-bottom: 50px;
}